In [1]:
import numpy as np
import pandas as pd 
pd.options.mode.chained_assignment = None

# Preprocessing

Due to the very high size of the dataset, we did the preprocessing once here and saved it to csv files

In [2]:
import pandas as pd

traindf = pd.read_csv('data/rotten_tomatoes_movie_reviews.csv')

In [3]:
traindf.head()
y_train = pd.DataFrame(traindf['scoreSentiment'])
x_train = pd.DataFrame()
x_train['text']=traindf['reviewText'].astype(str)
display(x_train.head())
y_train.head()

                                                text
0  Timed to be just long enough for most youngste...
1  It doesn't matter if a movie costs 300 million...
2  The choreography is so precise and lifelike at...
3  The film's out-of-touch attempts at humor may ...
4  Its clumsy determination is endearing and some...

  scoreSentiment
0       POSITIVE
1       NEGATIVE
2       POSITIVE
3       NEGATIVE
4       POSITIVE

In [4]:
X= x_train['text']
y=y_train['scoreSentiment']
y.value_counts()

scoreSentiment
POSITIVE    963799
NEGATIVE    481164
Name: count, dtype: int64

In [8]:
from preprocessing import preprocessed


data = preprocessed(x_train[:35000])

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\comes\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\comes\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\comes\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [9]:
display(data.head())
data.to_csv("data/x_train.csv", index=False)
y_train[:35000].to_csv("data/y_train.csv", index=False)

                                     text_lemmatized
0  time long enough youngster brief attention spa...
1  doesnt matter cost 300 million 300 dollar bad ...
2  choreography precise lifelike point might wond...
3  outoftouch attempt humor may find hunt reason ...
4  clumsy determination endear sometimes wildly e...